#menu-toggle{
    display: none;
}
#navBtn{
    display: none;
    text-align: center;
    padding: 8px;
    
}
.hamburger {
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.2em solid #7dabab;
    border-bottom: 0.2em solid #7dabab;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid #7dabab;
}

@media only screen and (min-width:  500px) and (max-width:  1024px){
    body {
    width: 1000px;
        margin-left: 20px;
        margin-right: 20px;
        
    }
    footer {
        margin-left: -10px;
    }
}

@media only screen and (max-width:  500px) {
    *{
        margin: 0 0 0 0px;
    }
    
     /*-------------Toggle-menu----------*/


    
    label {  
  cursor: pointer;
}
#menu-toggle {
  display: none;  
}
#menu {
  display: none;
}
#menu-toggle:checked + #menu {
  display: block;  
}
    
    
    
    /*-------------HEAD----------*/
    body {
        margin-top: 20px;
        width: 90%;
    }
    
    #navBtn{
        display: block;
    }
    /*----- Allgemein-----*/
    p {
        font-size: 16px;
    }
    h3,.num:nth-of-type(even) h3,.num:nth-of-type(odd) h3{
        font-size: 32px;
    }
    .zitat{
        font-size: 32px;
    }
    /*------ Aufzählungen-------*/
    .numRahmen{
        width: 100%;
    }
    .num {
        max-width: 100%;
        margin-top: 30px
    }
    
    #aufzaehlung_2 {
  margin-top: 0px;
    }
    
    .num:nth-of-type(even) p,.num:nth-of-type(odd) p{
        width: 100%;
    }
    
     .num:nth-of-type(odd) .num_head{
        float: left;
        margin-left: 70px;
    }
    .num:nth-of-type(even) .num_head{
        float: right;
        margin-right: 70px;
    }
    .num:nth-of-type(even),.num:nth-of-type(odd){
        width: 100%;
        float: left;
        clear: both;
        margin-bottom: 50px;
    }
    .num:nth-of-type(2){
        margin-top: 0px;
    }
    
    /*--------------Ueberchrift Links -----*/
    h2 {
        font-size: 45px;
    }
    .uuContainerLinks{
        margin-left: -5%;
        height:200px;
        
    }
    .uuContainerLinks img {
        display: none;
    }
    .uuContainerLinks::before {
        height: 14px;
        margin-top: 14%;
    }
    .uuContainerLinks h2 {
        margin-left: 30%;
    }
    
    #Tueren {
        margin-top: -80px; 
    }
    
    #txt_UnserNetzwerk{
        margin-top: -160px; 
    }
    
    #aufzaehlung_3{
        margin-top: -100px; 
    }
    
    #aufzaehlung_4{
        margin-top: 0px; 
    }
    
    #aufzaehlung_7{
        margin-top: -100px; 
    }
    
    #aufzaehlung_8{
        margin-top: -100px; 
        margin-bottom: -100px;
    }
     /*--------------Ueberchrift Rechts -----*/
    .uuContainerRechts{
        height:200px;
        margin-right: -5%;
        float: right;
    }
    .uuContainerRechts img {
        display: none;
    }
    
    .uuContainerRechts::before {
        height: 14px;
        margin-top: 14%;
    }
     .uuContainerRechts h2 {
        padding-right: 25%;
    }
    /*--------------TEXT--------*/
    section{
        width:100%;
    }
    h1{
        font-size: 40px;
        letter-spacing: 0.8px;
        margin-bottom: 30px;
    }
    #Sport2 {
        width: 100%;
        max-height: inherit;
        height: auto;
        margin-top: 50px;

    }
    #texContainer01{
        margin-top: 100px;
    }
    #t2{
        margin-top: 30px;
    }
    .textblock{
        width: 100%;
        margin-top: 60px;
    }
    .Textblock {
        width: 100%;
        margin: 0px;
        margin-bottom: 80px;
    }
    #texContainer01 {
        margin-top: 0px;
        width: 100%;
         margin: 0px;
    }
    #zitatBildBlock_Kinder5 {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 40px;
    }
    #platzhalter{
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-top: 70px;
}
    #zitat_unserNetzwerk{
    float:none;
    margin-top:10px;
}
    /*---------Footer-------*/
    footer {
        margin-left: -5%;
        width:110%;
    }
    
    /*------ Födermittel-----*/
    
    .h1Bild{
        width: 300px;
        height: 200px;
        margin: auto;

    }
    .num_img_links img, .num_img_rechts img{
        display: none;
    }
    #z1{
        width: 100%;
        font-size: 28px;
        margin-top: 90px;
    }
    #l1{
        float: right;
        min-width: 135px
    }
    
    #bgvid {
        display: none; 
    }  
    
    #Cover_Handy {
        display: block;
        margin: auto;
        margin-top: 60px;
        width: 100%;
        height: auto;
    }

    #aufzaehlung_4 {
        margin-bottom: -50px; 
    }
    
    /*------ Veranstaltungen-----*/
    
    #h1Bild {
        width: 100%;
        height: auto;
        margin-right: 0px; 
    }
    
    
    #Netzwerktreffen_num {
        margin-top: 0px;
    }
    
    #h1_veranstaltungen {
        font-size: 34px;
    }  
    
    #txt_Veranstaltungen{
        margin-top: 50px; 
    }
 
    
        /*------ Service-----*/
    
    #button_txt {
        margin-left: 0px;
    }
    
    #button_txt img {
        display: none;
    }
    
    #Standorte_Stuetzpunktvereine_Karte {
      display: inline-block;
      width: 100%;
      height: inherit !important;  
        
    }
    
    #beide {
        width:  100%;
        flex-wrap: wrap; 
    }
    
    .Dokument h3 {
        font-size: 20px; 
        line-height: 30px;
        margin-bottom: 40px;
        margin-top: 40px; 
    }
    
    #downloads_dokumente p {
        margin-bottom: 9px;
 
    }
    #downloads_dokumente {
        margin-top: -100px; 
    }
    
    .uuContainerLinks {
        margin-bottom: 60px; 
        margin-top: 50px; 
  
    }
    
    .nostyle a {
       width:  100%; 
        margin: auto; 
        margin-right: 0px; 
        margin-right: 0px !important; 
    }
    
    .nostyle a img{
       width:  100% !important; 
        height: auto !important; 

    }
    .standorte {
        margin-left: 0px; 
    }
    
    .nostyle {
        padding-left: 0px;
    }
    
    .downloads {
        margin-bottom: -100px; 
        margin-top: -5px;
        
    }
    
    #se {
        font-size: 50px;
        margin-top: 40px; 
        
    }
    
    .Standorte_2 {
        margin-right: 0px; 
        max-width: 100%;
    }
    
    #stadt_name {
        margin-top: 50px; 
    }
    /*-------- btn_back -----*/ 


.btn_back {
    position:fixed;
    bottom: 30px;
    right: 30px;
    background-color: #fffdf4;
    padding: 10px; 
    
}

.btn_back img {
    width: 100px; 
}

      /*-------- kontakt -----*/ 
    
 .kontakt_rechts {
    display: flex; 
    justify-content: flex-start;
    margin-bottom: 100px; 
    flex-wrap: wrap; 
    
}
    
    .kontakt_rechts img {
        margin-right: 0px; 
    }
    
    .kontakt_links img {
        margin-left: 0px; 
        order: -1; 
    }
    
 .kontakt_links {
    display: flex; 
    justify-content: flex-start;
    margin-bottom: 100px; 
    flex-wrap: wrap; 
    
} 
  
    .kontakte img {
        margin-bottom: 40px;
    }
    
    .kontakte p {
        margin-bottom: 10px; 
    }
    
    .kontakte h3 {
        margin-bottom: 10px; 
    }
 
 /*-------- mitmachen -----*/    

    
    .padding {
        margin: 0px; 
    }    
    
    #CIMG3797 {
        display: none; 
    }

     /*-------- kontakt -----*/  
    
    #kontakt_2{
        margin-top: 50px; 
    }
    
    
    
}

