
#navBtn{
    display: none;
    text-align: center;
    padding: 8px;
    
}
.hamburger {
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.2em solid #7dabab;
    border-bottom: 0.2em solid #7dabab;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid #7dabab;
}



@media only screen and (max-width:  900px) {
    *{
        margin: 0 0 0 0px;
    }
    
    
/*-------------Toggle-menu----------*/


    
    label {  
  cursor: pointer;
}
#menu-toggle {
  display: none;  hide the checkbox 
}
#menu {
  display: none;
}
#menu-toggle:checked + #menu {
  display: block;  
}    

/*-------------HEAD----------*/
    body {
        margin-top: 20px;
        width: 90%;
    }
    
    #navBtn{
        display: block;
    }

/*---------Footer-------*/
    footer {
        margin-left: -5%;
        width:110%;
    }
    
    
}